body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

@font-face {
    font-family: Montserrat;
    src: url('neutralinojs/resources/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url('neutralinojs/resources/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url('neutralinojs/resources/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}
/* @font-face {
    font-family: Montserrat;
    src: url('neutralinojs/resources/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
} */
